footer {
  background-color: darkcyan;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 576px){
  footer{
    flex-direction: row;
    justify-content: space-around
  }
}

.TextoCopyright {
  justify-self: center;
  grid-area: TextoCopyright;
}

.Rodape {
  justify-self: center;
  grid-area: Rodape;
}

a {
  text-decoration-color: darkcyan;
}

footer small {
  color: white;
}
