nav{
  background-color: darkcyan;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (min-width: 576px){
  .dropdown-menu{
    --bs-dropdown-min-width: 20rem;
  }
}

