.card-agendamento{
  width: 18rem;
  text-align: center;
  margin: 1rem;
}

.agendamento__agendada{
  box-shadow: 8px 8px 0px darkgreen;
}

.agendamento__concluido{
  box-shadow: 8px 8px 0px gray;
}

.agendamento__remarcado{
  box-shadow: 8px 8px 0px darkgoldenrod;
}

.agendamento__cancelado{
  box-shadow: 8px 8px 0px darkred;
}

