.sem-agendamentos {
  text-align: center;
  padding: 2rem 0 5rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  overflow-x: auto;
  max-height: 600px;
  border: none;
}

.visualizacao{
  background-image: url(../../../../assets/img/homepage-bg-online-consultation.jpg);
  background-repeat: no-repeat;
  overflow-y: auto;
}

.paginacao{
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
}
