.mural {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.card-color{
  background-color: #0dd2f029;
  max-width: 50rem;
}

.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.sem-pensamentos {
  text-align: center;
  padding: 2rem 0 5rem;
}

h1 {
  font-style: italic;
}
