<section class="marcacao">
  <div class="mural-externo">
    <header>
      <h1 class="ff-inter text-white">Agende agora sua consulta</h1>
      <h6 class="ff-inter">Escolha a Unidade de Saúde, Médico e o horário da consulta</h6>
    </header>
      <form class="card mural-interno bg-transparent" [formGroup]="agendamentoForm" >
        <div class="row">
          <mat-form-field class="col-lg-6 col-md-12">
            <mat-label>Escolha a Unidade de Saúde</mat-label>
            <mat-select [(value)]="listaMedico" >
              <mat-option *ngFor="let unidadeSaude of listaUnidadeSaude" [value]="unidadeSaude.medicos">
              {{ unidadeSaude.tx_nome_fantasia }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-lg-6 col-md-12">
            <mat-label>Escolha o Médico</mat-label>
            <mat-select formControlName="medico" name="medico">
              <mat-option *ngFor="let medico of listaMedico" [value]="medico">
                {{ medico.tx_especialidade }} - Dr(a) {{ medico.tx_nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-lg-6 col-md-12">
            <mat-label>Escolha a data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dtMarcacaoControl" name="dtMarcacaoControl">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-lg-6 col-md-12">
            <mat-label>Escolha a hora</mat-label>
            <input matInput type="time" formControlName="hrMarcacaoControl" name="hrMarcacaoControl">
          </mat-form-field>
        </div>
        <button mat-raised-button (click)="createrAgendamento()" color="primary" class="botao">Agendar</button>
      </form>
  </div>
</section>
