<div class="container text-center d-flex">
  <div class="row mural">
    <header class="col-lg-12 mt-0 mt-sm-12">
      <h1 class="ff-inter text-white">Agende agora sua consulta</h1>
      <h6 class="ff-inter">Escolha a Unidade de Saúde, medico e o horário da consulta</h6>
    </header>
    <div class="card card-color bg-transparent p-3 m-3">
      <select class="form-select form-select-lg mb-3" aria-label="Large select example">
        <option selected>Unidade de Saúde</option>
        <option value="1">Santa Maria</option>
        <option value="2">Sobradinho</option>
        <option value="3">Aguas claras</option>
      </select>
      <select class="form-select form-select-lg mb-3" aria-label="Large select example">
        <option selected>Médico</option>
        <option value="1">Ginecologista - Rogerio</option>
        <option value="2">Cardiologista - Layene</option>
        <option value="3">Pediatra - Larissa</option>
      </select>
      <select class="form-select form-select-lg mb-3" aria-label="Large select example">
        <option selected>Horário</option>
        <option value="1">12:00</option>
        <option value="2">13:00</option>
        <option value="3">14:00</option>
      </select>
    </div>
  </div>
</div>

<ng-template>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há agendamentos</p>
  </div>
</ng-template>
