<div class="modal-header bg-success">
  <h5 class="modal-title">Novo Telefone</h5>
  <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form [formGroup]="telefoneForm">
    <div class="row">
      <mat-form-field class="col-lg-6 col-md-12">
        <mat-label>DDD</mat-label>
        <input matInput mask="(00)" type="text" maxlength="4" placeholder="(00)" formControlName="nr_ddd_celular" name="nr_ddd_celular">
      </mat-form-field>
      <mat-form-field class="col-lg-6 col-md-12">
        <mat-label>Nº Celular</mat-label>
        <input matInput mask="00000-0000" type="text" maxlength="10" placeholder="00000-0000" formControlName="nr_celular" name="nr_celular">
      </mat-form-field>
      <mat-form-field class="col-lg-6 col-md-12">
        <mat-label>DDD</mat-label>
        <input matInput mask="(00)" type="text" maxlength="4" placeholder="(00)" formControlName="nr_ddd_telefone" name="nr_ddd_telefone">
      </mat-form-field>
      <mat-form-field class="col-lg-6 col-md-12">
        <mat-label>Nº Telefone</mat-label>
        <input matInput mask="00000-0000" type="text" maxlength="10" placeholder="00000-0000" formControlName="nr_telefone" name="nr_telefone">
      </mat-form-field>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="save()">Salvar</button>
  <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Fechar</button>
</div>
