
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";

html, body{
  height: 100%;
}

body{
  background-color: #01c4a6;
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
}

.ff-inter { font-family: 'Inter', sans-serif; }
.ff-roboto-mono { font-family: 'Roboto Mono', monospace; }

h1 {
  font-style: italic;
  text-align: center;
}

h2 {
  color: #154580;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.botao {
  background: #154580;
  color: #ffffff;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #154580;
  border-radius: 10px;
  transition: 0.5s ease;
}

.botao:hover {
  border: 2px solid #84EEC1;
  color: #84EEC1;
}

.custom-snackbar {
  margin-top: 90px !important;
  z-index: 1070 !important;

}

*::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
