tr,
h1 {
    text-align: center;
}

.paginacao{
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
}

.container{
  overflow-y: auto;
}

.botaoFiltro{
  height: 3.5rem;
  width: 5.5rem;
  margin-left: 1rem;
}

.botaoNovoMedico{
  height: 3.5rem;
  width: 10rem;
}

@media (max-width: 768px){
  .flex{
    flex-direction: column;
  }
}

