.imagem-carrosel-um{
	height: 500px;
}

.imagem-carrosel-dois{
	height: 500px;
}

.main{
  overflow-y: auto;
  height: 100%;
  padding-bottom: 6rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  background-color: white;
}

.flex-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 1rem;
  padding: 1rem;
  max-width: 100rem;
}

@media(max-width: 575px){
  .flex-items{
    flex-direction: column;
    gap:0rem;
    margin: 1rem;
    padding: 1rem;
  }
}

.flex-items:nth-child(1){
  background-color: #01c4a6;
  border-radius: 60%;

}
